<h1>News</h1>

<%= link_to 'New article', new_article_path %> - <%= link_to 'Log out', articles_path %>

<% @articles.each do |article| %>
    <hr>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <p><font size="5"><%= article.subtitle %></font></p>
    <p><font size="2"><%= article.body %></font></p>
    <p><font size="1">Posted on: <%= article.created_at.strftime("%B %d, %Y at %H:%M") %></font></p>
    <p><font size="2"><%= article.comments.length %> comments</font></p>
    <%= link_to 'Edit', edit_article_path(article) %> - <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure you want to delete this article?'} %>
<% end %>
