<h1><%= @article.title %></h1>
<p><font size="5"><%= @article.subtitle %></font></p>
<p><font size="2"><%= @article.body %></font></p>
<p><font size="1">Posted on: <%= @article.created_at.strftime("%B %d, %Y at %H:%M") %></font></p>
<%= link_to 'Back', articles_path %>
